data/b_cells
data/cd14_monocytes
data/cd34_filtered
data/cd4_t_helper
data/cd56_nk
data/cytotoxic_t
data/memory_t
data/naive_cytotoxic
data/naive_t
data/regulatory_t
data/pbmc_68k
data/GSE103354_Trachea_droplet_UMIcounts.txt.gz
data/GSE103354_PulseSeq_UMI_counts.rds
data/pbmc_purified.RData
data/pbmc_68k.RData
data/droplet.RData
data/pulseseq.RData
output/droplet/rds/prefit-droplet-k=*.rds
output/droplet/rds/fit-droplet-*.rds
output/droplet/rds/refit-droplet-*.rds
output/pbmc-68k/rds/prefit-pbmc-68k-k=*.rds
output/pbmc-68k/rds/fit-pbmc-68k-*.rds
output/pbmc-purified/rds/prefit-pbmc-purified-k=*.rds
output/pbmc-purified/rds/fit-pbmc-purified-*.rds
output/pulseseq/rds/prefit-pulseseq-k=*.rds
output/pulseseq/rds/fit-pulseseq-*.rds
output/pulseseq/rds/refit-pulseseq-*.rds
output/droplet/fits-droplet.RData
output/pbmc-68k/fits-pbmc-68k.RData
output/pbmc-purified/fits-pbmc-purified.RData
output/pulseseq/fits-pulseseq.RData
output/droplet/diff-count-droplet.RData
output/pulseseq/diff-count-pulseseq.RData
output/pbmc-purified/diff-count-pbmc-purified.RData